<%- include("partials/header"); -%>

<div class="landing row">
  <div class="landingLeft col-lg-6 col-md-12 col-sm-12">
    <img class="landingImage" src="images/noman.jpg" alt="image">
  </div>
  <div class="landingRight col-lg-6 col-md-12 col-sm-12 ">
    <h1>Hi,This is Md Noman</h1>
    <p>I am an engineering undergrad ,currently pursuing Electronics and Communication Enginering from <span><em><a href="http://www.tezu.ernet.in/">Tezpur University</a></em></span>
      .</p>
  </div>
</div>
<div class="skillContainer">
  <div class="container skillInner">
  <h1>Skills</h1>
  <div class="allSkillsContainer">
    <div class="skill">
      <h3>HTML</h3>
    </div>
    <div class="skill">
      <h3>CSS</h3>
    </div>
    <div class="skill">
      <h3>Javascript</h3>
    </div>
    <div class="skill">
      <h3>jQuery</h3>
    </div>
    <div class="skill">
      <h3>Node.JS</h3>
    </div>
    <div class="skill">
      <h3>MongoDB</h3>
    </div>
    <div class="skill">
      <h3>Mongoose</h3>
    </div>
    <div class="skill">
      <h3>React.JS</h3>
    </div>
    <div class="skill">
      <h3>Git</h3>
    </div>
    <div class="skill">
      <h3>GitHub</h3>
    </div>
    <div class="skill">
      <h3>Python</h3>
    </div>
    <div class="skill">
      <h3>C/C++</h3>
    </div>
  </div>
</div>
</div>
<%- include("partials/footer"); -%>